<%-include('../../partials/header.ejs') %>
<%-include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <h2>Usuários</h2>
    <a class="btn btn-success" href="/admin/users/create">Criar novo usuário</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>E-Mail</th>
                
            </tr>
        </thead>
        <tbody>
          
                <% users.forEach(user =>{ %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.email %></td>
                        <td>
                            <form method="POST" action="/users/delete" style="display: inline;"
                            onsubmit="confirmarDelecao(event, this)">
                                <input type="hidden" name="id" value="<%= user.id %>">
                                <button class="btn btn-danger">Deletar</button>   
                           </form>
                        </td>
                    </tr>

                <% }) %>
            
        </tbody>
    </table>

</div>


<%-include('../../partials/footer.ejs') %>
<script>
    //Cofirmação para o metodo delete
        function confirmarDelecao(event,form){
    
            event.preventDefault();
            //o confirma retora um verdadeiro ou falso
            var decision = confirm("Você tem certeza que quer excluir? O mesmo não poderá ser recuperado");
            if(decision){//se retornar verdade ele deleta 
                form.submit();
            }
        }
    
    </script>